body{
	background-image:url("bg1.jpg");
	background-repeat:no-repeat;
	background-size:100% 116%;
}
button { cursor:pointer; }
p{color:rgba(215,215,215);}
h2
{
	color:rgba(215,215,215);
	text-align:center;
}
.sign{
	background-color: rgba(106,53,0,0.5);
	height: 407px;
	width:787px;
	border:.5px solid black;
	float:left;
	margin-top:13%;
	margin-left: 21%;
	border-radius:27px;
}
.inputname
{
	background-color: rgba(255,255,128);
	width:150px;	
	height:25px;
}
.input1
{
	background-color: rgba(255,255,128);
	width:245px;	
	height:25px;
}
.input2
{
	background-color: rgba(255,255,128);
	
	width:125px;	
	height:25px;
}
.input3
{
	background-color: rgba(255,255,128);
	width:80px;	
	height:25px;
}
.user{
	margin-left: 80px;
	background-color: rgba(255,255,128);
	width:245px;	
	height:25px;
}
.pass{
	background-color: rgba(255,255,128);
	margin-left:88px;
	margin-top:5px;
	width:245px;	
	height:25px;
}
.pass1{
	background-color: rgba(255,255,128);
	margin-top:5px;
	margin-left:21px;
	width:245px;	
	height:25px;
}
.but{float:right;margin-right:25px;height:40px;background-color: rgba(106,53,0,0.5);color:rgba(215,215,215);}
.t{margin-left:60px;}